<footer>
    <div class="footer-links">
        <div class="footer-columns">
            <span class="footer-column-title">Support</span>
            <a href="#" class="footer-column-item">Help Center</a>
            <a href="#" class="footer-column-item">Get help with a safety issue</a>
            <a href="#" class="footer-column-item">AirCover</a>
            <a href="#" class="footer-column-item">Travel insurance</a>
            <a href="#" class="footer-column-item">Anti-discrimination</a>
            <a href="#" class="footer-column-item">Disability support</a>
            <a href="#" class="footer-column-item">Cancellation options</a>
            <a href="#" class="footer-column-item">Report neighborhood concern</a>
        </div>
        <div class="footer-columns">
            <span class="footer-column-title">Hosting</span>
            <a href="#" class="footer-column-item">Airbnb your home</a>
            <a href="#" class="footer-column-item">Airbnb your experience</a>
            <a href="#" class="footer-column-item">Airbnb your service</a>
            <a href="#" class="footer-column-item">AirCover for Hosts</a>
            <a href="#" class="footer-column-item">Hosting resources</a>
            <a href="#" class="footer-column-item">Community forum</a>
            <a href="#" class="footer-column-item">Hosting responsibly</a>
            <a href="#" class="footer-column-item">Airbnb-friendly apartments</a>
            <a href="#" class="footer-column-item">Join a free hosting class</a>
            <a href="#" class="footer-column-item">Find a co-host</a>
            <a href="#" class="footer-column-item">Refer a host</a>
        </div>
        <div class="footer-columns">
            <span class="footer-column-title">Airbnb</span>
            <a href="#" class="footer-column-item">2025 Summer Release</a>
            <a href="#" class="footer-column-item">Newsroom</a>
            <a href="#" class="footer-column-item">Careers</a>
            <a href="#" class="footer-column-item">Investors</a>
            <a href="#" class="footer-column-item">Gift cards</a>
            <a href="#" class="footer-column-item">Airbnb.org emergency stays</a>
        </div>
    </div>
    <div class="bottom-divider"></div>
    <div class="footer-bottom">
        <div class="footer-bottom_terms">
            <p> 2026 Airbnb, Inc.</p>
            <span>·</span>
            <p>Privacy</p>
            <span>·</span>
            <p>Terms</p>
            <span>·</span>
            <p>Your Privacy Choices</p>
        </div>
        <div class="footer-bottom_socailLinks">
            <div class="country_language">
                <i class="fa-solid fa-earth-africa"></i>
                <span>English&nbsp;(US)</span>
            </div>
            <div class="country_currency">
                <i class="fa-solid fa-dollar-sign"></i>
                <span>USD</span>
            </div>
            <div class="social_media_platforms">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-x-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>
        </div>
    </div>
</footer>