:root {
    --primary-logo-color: #FF385C;
    --secondary-color: #E00B41;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
}
body {
    font-family: "Nunito Sans", sans-serif;
    background-color: #FFF;
    align-items: center;
    overflow-x: hidden;
}
